{{partial "head.html" .}}

{{partial "content.html" .}}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Upcoming events</h2>
        {{.Render "upcoming-event-list"}}
    </div>
    <div class="col-xs-12 col-md-6">
        <h2>Latest News</h2>
        <ul>
            {{range where .Site.RegularPages "Type" "posts"}}
                <li><a href="{{.Permalink}}">{{.Title}}</a> {{.Date.Format "2006-01-02"}}</li>
            {{end}}
        </ul>
    </div>
</div>

{{partial "footer.html" .}}